{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="all_equip">
        <div class="block_img">
            <img src="{% static 'img/equipment/ibp-removebg-preview.png' %}" alt="ИБП" class="equip_img">
        </div>
        <div class="block_text">
            <a href="https://tempesto.ru/catalog/ups_delta/" class="equip_text">
                Источники бесперебойного питания Delta Electronics
            </a>
        </div>
        <div class="block_img">
            <img src="{% static 'img/equipment/COD-removebg-preview.png' %}" alt="ЦОД" class="equip_img">
        </div>
        <div class="block_text">
            <a href="https://tempesto.ru/catalog/tsod-pod-klyuch/" class="equip_text">
                ЦОД под ключ
            </a>
        </div>
        <div class="block_img">
            <img src="{% static 'img/equipment/generators-removebg-preview.png' %}" alt="Генераторы" class="equip_img">
        </div>
        <div class="block_text">
            <a href="https://tempesto.ru/catalog/dgu/" class="equip_text">
                Генераторы
            </a>
        </div>
        <div class="block_img">
            <img src="{% static 'img/equipment/rpcm-removebg-preview.png' %}" alt="RPCM" class="equip_img">
        </div>
        <div class="block_text">
            <a href="https://rpcm.by/ru" class="equip_text">
                Устройства удалённого управления питанием RPCM
            </a>
        </div>
        <div class="block_img">
            <img src="{% static 'img/equipment/sistemy_post_toka-removebg-preview.png' %}" alt="Системы питания постоянного тока" class="equip_img">
        </div>
        <div class="block_text">
            <a href="https://tempesto.ru/catalog/dc/" class="equip_text">
                Системы питания постоянного тока
            </a>
        </div>
        <div class="block_img">
            <img src="{% static 'img/equipment/shaf_tempesto-removebg-preview.png' %}" alt="Шкафы для АКБ" class="equip_img_smaller">
        </div>
        <div class="block_text">
            <a href="https://tempesto.ru/catalog/shkafyi-dlya-akkumulyatornyih-batarey/" class="equip_text">
                Шкафы для аккумуляторных батарей
            </a>
        </div>
        <div class="block_img">
            <img src="{% static 'img/equipment/prom.png' %}" alt="Промышленная автоматизация" class="equip_img_smaller">
        </div>
        <div class="block_text">
            <a href="https://tempesto.ru/catalog/promyishlennaya-avtomatizatsiya/" class="equip_text">
                Промышленная автоматизация
            </a>
        </div>
    </div>
{% endblock %}