{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="b_service">
        <div class="service_text">
            <h1>Услуги и сервис</h1>
        </div>
        <ul class="all_list">
            <li>
                <p class="text">Пусконаладочные работы</p>
                <p>Ввод оборудования в эксплуатацию исключительно сертифицированными специалистами,
                    прошедшими обучения на заводе фирмы-изготовителя.</p>

            </li>
            <li>
                <p class="text">Сервисное гарантийное и послегарантийное обслуживание</p>
                <p>Послепродажный сервис, являющийся залогом исправной и долговечной работы оборудования.</p>
            </li>
            <li>
                <p class="text">Электромонтажные работы</p>
                <p>Все виды работ, связанные с монтажом электрических сетей и электрооборудования: качественно,
                    профессионально и в установленные Вами сроки.</p>
            </li>
        </ul>

    </div>


{% endblock %}