{% extends 'base.html' %}
{% block content %}
    <div class="block_request">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p>(При размещении ИБП необходимо учитывать фактор, что при работе ИПБ вырабатывается тепло (3-10% от
                мощности нагрузки). Исходя из места установки принимается решение о необходимых мерах по теплоотводу.)
            </p>
            <button>Отправить</button>

        </form>
    </div>
{% endblock %}